<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="logs\internal-logs\nlog-internal.log">

	<targets>
		<target name="LogFile" xsi:type="File"
				fileName="logs\${shortdate}-logfile.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger}: ${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="LogFile" />
	</rules>
</nlog>